# Data Model exercise with Darshil, [link](https://www.youtube.com/watch?v=K45k-gNNzGo&list=PLBJe2dFI4sgukOW6O0B-OVyX9c6fQKJ2N&index=2&ab_channel=DarshilParmar)

In [3]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /home/liliana.loaiza/.virtualenvs/Darshil_BuildDataModelAndDB-0WCAD1jB/lib/python3.8/site-packages (2.9.6)

In [4]:
import psycopg2

### Create a connection to the db

In [25]:
try:
    conn = psycopg2.connect('host=localhost dbname=postgres user=postgres password=postgres')
except psycopg2.Error as e:
    print('Error: could not make connection to the Postgres database')
    print(e)

### Get a cursor to execute queries

In [26]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print('Error: Could not get cursor to the db')
    print(e)

In [27]:
conn.set_session(autocommit=True)

### Create new db

In [28]:
try:
    cur.execute('Create database myfirstdb')
except psycopg2.Error as e:
    print(e)

### Connect to the other db

In [29]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)

try:
    conn = psycopg2.connect('host=localhost dbname=myfirstdb user=postgres password=postgres')
except psycopg2.Error as e:
    print('Error: could not make connection to the postgres db')
    print(e)

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print('Error: could not get cursor to the db')
    print(e)

conn.set_session(autocommit=True)

print('Connected to new db')

Connected to new db

### Create table for students

In [32]:
sql = '''
    CREATE TABLE student (
        id SERIAL PRIMARY KEY,
        name varchar(100) NOT NULL,
        age INT NOT NULL,
        gender varchar(20) NOT NULL,
        subject varchar(50),
        marks INT
    )
'''
try:
    cur.execute(sql)
    print('Table student has been created')
except psycopg2.Error as e:
    print(e)

Table student has been created

### Insert 2 records in the newly created table for students

In [36]:
try:
    cur.execute(
        'INSERT INTO student (name, age, gender, subject, marks) \
         VALUES(%s,%s,%s,%s,%s)', ('Raj', 23, 'Male', 'Python', 85))
except psycopg2.Error as e:
    print('Error inserting rows')
    print(e)

In [37]:
try:
    cur.execute(
        'INSERT INTO student (name, age, gender, subject, marks) \
         VALUES(%s,%s,%s,%s,%s)', ('Priya', 22, 'Female', 'Python', 86))
except psycopg2.Error as e:
    print('Error inserting rows')
    print(e)

### Validate records were inserted: SELECT

In [38]:
try:
    cur.execute('SELECT * FROM student;')
except psycopg2.Eror as e:
    print('Error while retreiving data')
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)

### Release resources: close cursor and connection

In [39]:
cur.close()
conn.close()